[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-onenightww
Exec=harbour-onenightww
Name=One Night Ultimate Werewolf


